.bag-icon__container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bag-icon {
    margin: auto 0;
    cursor: pointer;
}

.bag-icon__value {
    position: absolute;
    font-size: 25px;
    color: #ffffff;
    top: 45%
}