.cart__container {
    width: 80vw;
    margin: 0 auto;
}

.cart__grid {
    display: grid;
    text-align: center;
    
    &:first-child{
        font-size: 30px;    
    }
}

.cart__block {
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 1fr 1fr;
    border-bottom: 1px solid #000000;
    padding: 15PX 0;
}

.cart__empty {
    border-bottom: 1px solid #000000;
    padding: 15px 0;
}

.cart__total {
    text-align: end;
    padding: 15px 15px 0 0;
}

.cart__button {
    width: 300px;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

@media (max-width:768px) {
    .cart__container {
        width: 100%;
        overflow: auto;
    }
    
    .cart__grid {
        width: 673px;
    }

    .cart__total {
        text-align: start;
        padding: 15px 0 0 15px;
    }
}
