.container {
  position: relative;
}

%btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.prevButton {
  @extend %btn;
  left: 0;
}

.nextButton {
  @extend %btn;
  right: 0;
}

.carousel {
  overflow: hidden;
}

.group {
  display: flex;
}

.item {
  flex: 0 0 100%;
  min-width: 0;
}
