.container {
  width: 80vw;
  margin: 15px auto;
}

.title {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  background-color: #261066;
  padding: 10px 0;
  margin: 15px 0;
  color: #ffffff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 15px;
}

@media (max-width: 768px) {
  .grid {
    display: block;
  }

  .container {
    width: 100%;
  }
}
