@use '@/variables' as *;

.title {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  background-color: $color-primary;
  padding: 1rem 0;
  margin-bottom: 1rem;
  color: $color-light;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 15px;
}

@media (max-width: 768px) {
  .grid {
    display: block;
  }

  .container {
    width: 100%;
  }
}
