@use '@/variables' as *;

.title {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  background-color: $color-primary;
  padding: 1rem 0;
  margin-bottom: 1rem;
  color: $color-light;
}

.grid {
  display: grid;
  place-items: center;
  gap: 1rem;
}

@media only screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
