.item-detail__container {
    display: grid;
    grid-template-rows: 300px 1fr 1fr;
    place-items: center;
}

.item-detail__image-container {
    height: 100%;
}

.item-detail__image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.item-detail__description-container {
    padding-top: 15px;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 90px;
}

.item-detail__info {
    display: flex;
    flex-direction: column;
}

.item-detail__name {
    font-size: 20px;
    font-weight: bold;
}

.item-detail__description {
    text-align: justify;
}

.item-detail__price {
    font-size: 32px;
    text-align: center;
}