.item-detail__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center;
}

.item-detail__image {
    width: 100%;
    height: 400px;
    object-fit: contain;
}

.item-detail__info {
    padding: 0 10px;
}

.item-detail__name {
    text-align: center;
}

.item-detail__price {
    text-align: end;
    font-size: 30px;
}

.item-detail__description {
    text-align: justify;
    font-size: 20px;
}

.item-detail__item-count {
    margin: 0 auto;
}

@media (max-width:768px) {
    .item-detail__container {
        display: block
    }

    .item-detail__image {
        height: auto;
    }
}