.container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0.5rem 1rem;
}

.item {
  font-size: 1.25rem;
}

.img {
  height: 3rem;
  width: 3rem;
  object-fit: contain;
}
