@use '@/variables' as *;

.section {
  background-color: $color-blue-3;
  position: relative;
  height: 22rem;

  h1 {
    font-size: 3rem;
    text-align: center;
    color: $color-dark;
    padding-top: 2rem;
  }
}

.container {
  border-radius: 30px;
  box-shadow: $card-shadow;
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem;
  background-color: $color-light;
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  color: $color-primary;
  margin-bottom: 1rem;
}

.wave {
  color: $color-blue-3;
}
