.title {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  background-color: #261066;
  padding: 10px 0;
  margin-bottom: 15px;
  color: #ffffff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
