@use '@/variables' as *;

.container {
  position: relative;
  width: 100%;
  height: 40vh;
  border: 1px solid $color-dark;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

.imageBackground {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;

  &:hover {
    transform: scale(1.1);
    transition: transform 6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
}

.titleContainer {
  position: absolute;
  border: 2px solid $color-dark;
  background-color: $color-light;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  color: $color-dark;
  opacity: 0.6;
  transition: opacity 0.5s;

  &:hover {
    opacity: 0.9;
  }

  h2 {
    margin-bottom: 0.5rem;
  }
}
