@use '@/variables' as *;

.section {
  padding: 2rem 0;
}

.form {
  display: grid;
  gap: 2rem;
}

.info {
  display: grid;
  gap: 1rem;

  input,
  label {
    font-size: 1.5rem;
  }
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.cart {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.items {
  border: 1px solid $color-dark;
  padding: 1rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.total {
  font-size: 2rem;
  text-align: end;
}

.button {
  display: block;
  width: 18rem;
  margin: 0 auto;
  text-align: center;
}

.purchase {
  font-size: 1.5rem;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .form {
    grid-template-columns: 1fr 1fr;
  }
}
