.category-detail__category {
    margin-bottom: 15px;
}

.category-detail__title {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    background-color: #261066;
    padding: 10px 0;
    margin-bottom: 15px;
    color: #FFFFFF;

    a {
        color: #FFFFFF;
    }
}

.category-detail__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: max-content;
    gap: 15px;
}

@media (max-width:768px) {
    .category-detail__grid {
        display: block
    }
}