.container {
  width: 300px;
  display: grid;
  place-items: center;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: #f7f7f7;
  padding: 15px;
}

.counter {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #d5d5d5;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 30px;
}

.control {
  font-weight: bold;
  font-size: 20px;
  color: #4992fa;
}
